[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
httpx = "*"
python-jose = {extras = ["cryptography"], version = "*"}
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
